<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"> <strong class="ml-4 is-size-2">{{ title }}</strong> </a>
  </div>
  <div id="navbarItems" class="navbar-menu is-active">
    <ab-search-box-widget></ab-search-box-widget>
    <div class="navbar-end">
      <a [routerLink]="['resource-new']">Add a resource</a>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="content has-text-centered">
    <p> by <a href="https://twitter.com/albertobasalo">Alberto Basalo</a>.</p>
  </div>
</footer>
